|   { 
|       "@context" : [ "https://www.w3.org/2018/credentials/v1","https://schema.opencerta.org/fhir/202009"],
|       "type": ["VerifiableCredential","FHIRCredential"],
|       "id": "#{credential_id}",
|       "issuer": "#{issuer_ref}",
|       "issuanceDate": "#{issuance_date}",
|       "expirationDate": "#{expiration_date}",
|       "credentialSubject": {
|           "type": "FHIRCredential",
|           "id": "#{subject.id}",
|           "givenName": "#{subject.givenName}",
|           "additionalName": "#{subject.additionalName}",
|           "familyName": "#{subject.familyName}",
|           "gender": "#{subject.gender}",
|           "honorificPrefix": "#{subject.honorificPrefix}",
|           "honorificSuffix": "#{subject.honorificSuffix}",
|           "photograph": "#{subject.photograph}",
|           "fhirVersion": "#{fhir.version}"
|       }
|   }